
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@1,700&family=Roboto:ital@1&display=swap');

/*---RESET---*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.grid-galeria{
    width: 100%;
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 250px;
    gap: 5px;
}

.grid-galeria div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 1px;
}

.img-5{
    grid-row: span 2;
}

.img-2{
    grid-column: span 3;
}

.img-7{
    grid-row: span 2;
}

.img-8{
    grid-row: span 2;
}


/*---HEADER---*/

.logo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

header nav div a img{    
    height: 120px;
    

}

header nav{
    background-color: burlywood;
}

/* header{
    background-color : burlywood;
    position: sticky;
    top: 0;
    width: 100%;
    height: 90%
} */

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    background-color : burlywood;
    position: sticky;
    top: 0;
    width: 100%;
    height: 90%
}

header h1 {
    color: rgb(40, 39, 50) ;
    font-style: initial; 
    font-size: 60px;
    font-weight: 700;
    font-family: 'Poltawski Nowy', serif;
    padding: 15px;

}

header h2{
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        display: flex;
        font-style: italic;
}

header nav ul{
    list-style: none; 
    display: flex;
    margin: 10px;
}

header nav ul li a{
    color: rgb(40, 39, 50) ;
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    font-family: 'Poltawski Nowy', serif;
    transition: 0.5s;
}

header nav ul li a:hover{
    color: white;
}

header nav ul li{
    display: inline-block;
    margin: 15px 5px 15px 5px;
}

header a{
    color: black;
    list-style: none;
    text-decoration: none;
    font-weight: bold;
    

}





section div a{
    color:;
    text-decoration: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*---MAIN---*/

.logo{
    padding: 5px 5px 5px 5px;
}

.subtitulo h2{
    background-color: rgb(168, 144, 112);
    color: rgb(40, 39, 50);
    border: black solid;
    text-align: center;
    font-size: 50px;
    font-family: 'Poltawski Nowy', serif;
    padding: 30px;
    
}

.hero{

    background-image: url("../img/nosotros.jpg");
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.hero h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 65px;
    color: rgb(159, 12, 159);
    padding: 25px;
    margin: 15px;
}

.hero p{
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    
}

.hero a{
    color: whitesmoke;
    background-color: black;
    padding: 10px;
    text-decoration: none;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    transition: .5s;
}

.hero a:hover{
    background-color: burlywood;
    color: black;
}


.productos h3{
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    font-family:'Poltawski Nowy', serif;
    
}

.productos .producto-contenedor{
    display: flex;
    justify-content: center;
}

.producto-contenedor div {
    border: 2px solid black;
    width: 290px;
    height: 400px;
    text-align: center;
    margin: 18px;
    box-sizing: 1px;
    object-fit: cover;
    -webkit-box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
-moz-box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
}

.producto-contenedor div a{
    transition: 0.5s;
}

.producto-contenedor div a:hover{
    color: white;
    background-color: coral;
}

.productos div img{ 
    width: 100%;
    height: 270px;
}

.productos h3{
    margin: 15px;
    padding: 15px;
}

.productos div a{
    background-color:  burlywood;
    color: #272929;
    padding: 5px;
    margin: 10px;
    font-family: 'Poltawski Nowy', serif;
}

.productos h3{
    font-family: 'Poltawski Nowy', serif;;
    font-size: 25px;
    text-align: center;
}

.fixed{
    position: fixed;
    top: ;
    right: 50px;
    left: ;
    bottom: 50px;
}

/* ---Categorias--- */


/*---Accesorios---*/


/*---Indumentaria--- */



/*---Contacto--- */
.contacto{
    background-image: url(../img/alessandra-caretto-cAY9X4rPG3g-unsplash.jpg);
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    align-content: center;
    padding: 5px;
}

.caja-comentarios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}




/*---FOOTER---*/

footer{
    background-color: rgb(19, 18, 18);
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer nav ul li a{
        text-decoration: none;
        list-style: none;
        color: white;
        font-size: 18px;
        font-family: 'Poltawski Nowy', serif;
        display: inline-block;
        margin: 10px 10px 10px 10px ;
        transition: 0.5s;
}

footer nav ul li a:hover{
    color: coral;
}

footer nav ul li{
    display: inline-block;
}

.parrafo-footer{
    padding: 10px;
    color: white;
}


.redes-sociales a{
    display: inline-block;
    padding: 10px;
}

@media screen and (max-width:1050px){
        { 

        }
    
}





