
header{
    background-color: rgb(225, 188, 139);
        nav{
        
            div{
            
                a{
                    img{
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 5px 5px 5px 5px;
                    height: 120px;
                    padding: 0;
                    margin: 0;
                    }
                }


                
            button{
                border: 2px solid rgb(59, 52, 52);
                border-radius: 5px;
                padding: 6px;
                transition: 0.5s; 
        }

        ul{
            li{
                a{  
                    color: rgb(40, 39, 50) ;
                    font-weight: bold;
                    font-size: 25px;
                    font-family: 'Poltawski Nowy', serif;
                    transition: 0.5s;
                    &:hover{
                            background-color: rgb(225, 188, 139);
                            color: white;   
                    }
                }
            }
        }
    }
}
}


