/*--Main--*/
@media screen and (max-width:2710px){

    header{
        div{
            a{
                img{
                @include flex (flex, flex-start, center);
                padding: 5px 5px 5px 5px;
                height: 120px;
            }
        }
    }
    }


    .carousel-item{
        
        img{
            height: 100vh;
            min-height: 300px;
            background-size: cover;
        }
    }
}
@media screen and (max-width:1300px){

    .carousel-item{
        img{
            height: 100vh;
            min-height: 300px;
            background-size: cover;
        }
    }

.carousel-caption{
    
    h5{
        color: wheat;
        font-size: 40px;
        font-family: 'Poltawski Nowy', serif;
        letter-spacing: 2px;
        margin-top: 25px;
    }
    p{
        color: white;
        width: 100%;
        margin: auto;
        font-size: 30px;
        line-height: 1.9;
    }
}
/*---Tarjetas---*/

.productos{
    
        h3{
            margin: 10px;
            padding: 5px;
            font-family: 'Poltawski Nowy', serif;;
            font-size: nth($font-size, 5);
            text-align: center;
        }
        p{
            padding: 15px;
            text-align: center;
            font-family: 'Poltawski Nowy', serif;
            font-size: 20px;
        }  
        }
        .producto-contenedor{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin: 0;
                padding: 0;
                transition: 0,5s;
                a{
                    background-color:  nth($colores, 4);
                    color: $color-principal;
                    padding: 3px;
                    margin: 5px;
                    font-family: 'Poltawski Nowy', serif;
                    &:hover{
                        color: rgb(240, 233, 233);
                        background-color: rgb(47, 46, 46);
                        border-radius: 5px;
                    }
                }
        div{
            width: 35%;
            margin: 12px;
            box-sizing: 1px;
        }
    }
    div{
        
        img{
            padding: 0;
            margin: 0;
        }
        }
    }




@media screen and (max-width:980px){

    header{
        div{
            
            a{
                img{
                @include flex (flex, flex-start, center);
                padding: 3px 3px 3px 3px;
                height: 95px;
                margin: 0;
            }
        }
    }
        .navbar-toggler{
            padding: 0.25rem 0.75rem;
            font-size: 1.25rem;
            line-height: 1;
            background-color: black;
            border: 2px solid white;
            border-radius: 0.25rem;
            transition: box-shadow .15s ease-in-ou
        }
        



    }


    .carousel-item{
        img{
            height: 100vh;
            min-height: 300px;
            background-size: cover;
        }
    }

        h5{
        color: wheat;
        font-size: 10px;
        font-family: 'Poltawski Nowy', serif;
        margin-top: auto;
    
        }
        p{
        color: black;
        width: 100%;
        margin: 10px;
        font-size: 10px;
        line-height: 1.9;
        }
    }
        /*---Tarjetas---*/

.productos{
    .proyectos{
        h3{
            margin: 10px;
            padding: 5px;
            font-family: 'Poltawski Nowy', serif;;
            font-size: nth($font-size, 5);
            text-align: center;
        }
        p{
            padding: 10px;
            text-align: center;
            font-family: 'Poltawski Nowy', serif;
            font-size: 25px;
        }  
        }
    }

@media screen and (max-width:800px){
    

.carousel-item{
    
    
                img{
                    height: 100vh;
                    min-height: 300px;
                    background-size: cover;
                }

                h5{
                    color: wheat;
                    font-size: 20px;
                    font-family: 'Poltawski Nowy', serif;
                    margin-top: auto;    
                }   

                p{
                    color: white;
                    width: 100%;
                    font-size: 23px;
                    line-height: 1.9;  
                }
            
            
        }
            /*---Tarjetas---*/
        .productos{
            .proyectos{
                h3{
                    margin: 10px;
                    padding: 5px;
                    font-family: 'Poltawski Nowy', serif;;
                    font-size: 25px;
                    text-align: center;
                }
                p{
                    padding: 10px;
                    text-align: center;
                    font-family: 'Poltawski Nowy', serif;
                    font-size: 25px;
                }  
                }
            .producto-contenedor{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    transition: 0,5s;
            div{
                width: 35%;
                margin: 12px;
                box-sizing: 1px;
            }
        }
    
        div{
            
            
            a{
                background-color:  nth($colores, 4);
                color: $color-principal;
                padding: 3px;
                margin: 5px;
                font-family: 'Poltawski Nowy', serif;
                
                border-radius: 5px;
            }
            img{

                padding: 0;
                margin: 0;
            }
        }
        }
        
    }

//* GRID*


    @media screen and (max-width:710px){
        .grid-container{
        display: none;
        }
    
    }

    /*---Grid-galeria---*/
    
    
    


        /*---Tarjetas---*/

@media screen and (max-width:750px){



.productos{
    .proyectos{
        h3{
            margin: 10px;
            padding: 5px;
            font-family: 'Poltawski Nowy', serif;;
            font-size: 25px;
            text-align: center;
        }
        p{
            padding: 15px;
            text-align: center;
            font-family: 'Poltawski Nowy', serif;
            font-size: 20px;
        }  
        }
            .producto-contenedor{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    flex-wrap: wrap;
                    margin: 0;
                    padding: 0;
                    transition: 0,5s;
            div{
                width: 50%;
                margin: 12px;
                box-sizing: 10px;
            }
        }

        div{
            a{
                background-color:  nth($colores, 4);
                color: $color-principal;
                padding: 10px;
                margin: 10px;
                font-size: 15px;
                font-family: 'Poltawski Nowy', serif;
                border-radius: 5px;
            }
            img{

                padding: 0;
                margin: 0;
            }
        }

            }
            
}
@media screen and (max-width:600px){


    .productos{
        .proyectos{
            h3{
                margin: 10px;
                padding: 5px;
                font-family: 'Poltawski Nowy', serif;;
                font-size: 25px;
                text-align: center;
            }
            p{
                padding: 15px;
                text-align: center;
                font-family: 'Poltawski Nowy', serif;
                font-size: 20px;
            }  
            }
                .producto-contenedor{
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-content: center;
                        flex-wrap: wrap;
                        margin: 0;
                        padding: 0;
                        transition: 0,5s;
                div{
                    width: 80%;
                    margin: 12px;
                    box-sizing: 10px;
                }
            }
    
            div{
                a{
                    background-color:  nth($colores, 4);
                    color: $color-principal;
                    padding: 10px;
                    margin: 10px;
                    font-size: 15px;
                    font-family: 'Poltawski Nowy', serif;
                    border-radius: 5px;
                }
                img{
    
                    padding: 0;
                    margin: 0;
                }
            }
    
                }





    
}




    @media screen and (max-width:770px){
        .carousel-caption{
            transition: 0.5s;
                    .btn{
                        font-size: 15px;
                        background-color: yellow;
                        color: black;
                    }
        }
    
        .carousel-item{
    
    
            img{
                height: 100vh;
                min-height: 300px;
                background-size: cover;
            }

            h5{
                color: wheat;
                font-size: 30px;
                font-family: 'Poltawski Nowy', serif;
                margin-top: auto;    
            }   

            p{
                color: white;
                width: 100%;
                margin: auto;
                font-size: 25px;
                line-height: 1.9;  
            }
        
        
    }
    
    }

    @media screen and (max-width:640px){
        .carousel-caption{
            transition: 0.5s;
                    .btn{
                        font-size: 45px;
                        background-color: yellow;
                        color: white;
                    }
        }
    
        .carousel-item{
    
    
            img{
                height: 100vh;
                min-height: 300px;
                background-size: cover;
            }

            h5{
                color: wheat;
                font-size: 30px;
                font-family: 'Poltawski Nowy', serif;
                margin-top: auto;    
            }   

            p{
                color: white;
                width: 100%;
                font-size: 25px;
                line-height: 1.9;  
            }
        
        
    }
    
    }
    
    @media screen and (max-width:420px){

        .productos{
            h2{
                color: nth($colores,1);
                text-align: center;
                letter-spacing: 15px;
                font-weight: 15px;
                font-size: nth($font-size, 5);
                font-family: 'Poltawski Nowy', serif;
                padding-top: 18px;
            }
            p{
                color: nth($colores,1);
                padding: 3px;
                margin: 0;
                text-align: center;
                font-family: 'Poltawski Nowy', serif;
                font-size: nth($font-size, 4);

            }

        }



    }





    @media screen and (max-width:320px){

        .carousel-item{
        
            img{
                height: 100vh;
                min-height: 300px;
                background-size: cover;
            }
        }

        .productos{
            .proyectos{
            h3{
                margin: 10px;
                padding: 5px;
                font-family: 'Poltawski Nowy', serif;;
                font-size: 25px;
                text-align: center;
            }
            p{
                padding: 15px;
                text-align: center;
                font-family: 'Poltawski Nowy', serif;
                font-size: 20px;
            }  
            }
            
                    .producto-contenedor{
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-content: center;
                            flex-wrap: wrap;
                            margin: 0;
                            padding: 0;
                            transition: 0,5s;
                    div{
                        width: 90%;
                        margin: 10px;
                        box-sizing: 10px;
                    }
                }
        
                div{
                    a{
                        background-color:  nth($colores, 4);
                        color:  $color-principal;
                        padding: 10px;
                        margin: 10px;
                        font-size: 15px;
                        font-family: 'Poltawski Nowy', serif;
                        border-radius: 5px;
                    }
                    img{
        
                        padding: 0;
                        margin: 0;
                    }
                }
        
                    }

    }
        

    /*---Footer---*/
    
    
@media screen and (max-width:600px){
    footer{
        nav{
            
            ul{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0;
                padding: 0;
                li{
                    a{
                        text-decoration: none;
                        list-style: none;
                        color: white;
                        font-size: 15px;
                        font-family: 'Poltawski Nowy', serif;
                        margin: 15px;
                        transition: 0.5s;
                    }
                }
            }
        }
    }


.redes-sociales{
    a{
        display: inline-block;
        padding: 3px;
        margin: 3px;
    }
}

.parrafo-footer{
            padding: 10px;
            color: white;
}

.fixed{
    display: none;
    position: 0;
    
}
}

/*---Contacto---*/

@media screen and (max-width:530px){
            iframe{
                display: none;
            }
    
}

@media screen and (max-width:430px){
.contacto{
    h2{
        color: nth($colores, 3);
        background-color: $color-secundario;
        border:  nth($colores, 2);
        letter-spacing: 2px;
        border-radius: 5px;
        padding: 2px;
        margin: 0;
        font-size: nth($font-size, 5);
        font-family: 'Poltawski Nowy', serif;;
}
}



    .formulario{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
        div{
            color: #272929;
            border-radius: 1px white solid;
            padding: 0;
            margin: 0;
        }
    }


}




/*---Accesorios---*/

@media screen and (max-width:1000px){

.imagen-accesorios{
    p{
        font-size: 30px;
        padding: 15px;
        text-align: center;
        font-family: 'Poltawski Nowy', serif;
    }
}

.accesorios-tarjetas{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    div{
        border: 2px solid black;
    width: 290px;
    height: 400px;
    text-align: center;
    margin: 18px;
    box-sizing: 1px;
    object-fit: cover;
    -webkit-box-shadow: 6px -6px 14px 1px rgba(0, 0, 0, 0.72);
    -moz-box-shadow: 6px -6px 14px 1px rgba(0, 0, 0, 0.72);
    box-shadow: 6px -6px 14px 1px rgba(0, 0, 0, 0.72);
        img{
            width: 100%;
            height: 270px;
        }
        h3{
            margin: 15px;
            padding: 15px;
            font-family: 'Poltawski Nowy', serif;
            font-size: 20px;
            text-align: center;
        }
        a{
            background-color: burlywood;
            color: #272929;
            padding: 5px;
            margin: 10px;
            font-family: 'Poltawski Nowy', serif;
            text-decoration: none;
            list-style: none;
            transition: 0.5s;
            &:hover{
                color: white;
                background-color: coral;
                border-radius: 5px;
            }
        }
    }
}

}


@media screen and (max-width:690px){
.accesorios{
    .imagen-accesorios{
        p{
            color: nth($colores, 3);
            background-color: $color-secundario;
            border:  nth($colores, 2);
            border-radius: 3px;
            padding: 1px;
            width: 100%;
            margin: auto;
            @include flex (flex, center, center);
            font-size: nth($font-size, 4);
            text-align: center;
            font-family: 'Poltawski Nowy', serif;
        }
    }
    }
    
}

@media screen and (max-width:610px){
    .accesorios{
        .accesorios-tarjetas{
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                align-items: center;
                padding: 0;
                div{   
                    border: 2px solid black;
                width: 290px;
                height: 400px;
                text-align: center;
                margin: 18px;
                box-sizing: 1px;
                border-radius: 15px;
                object-fit: cover;
                -webkit-box-shadow: 6px -6px 14px 1px rgba(98, 94, 94, 0.477);
            -moz-box-shadow: 6px -6px 14px 1px rgba(98, 94, 94, 0.477);
            box-shadow: 6px -6px 14px 1px rgba(98, 94, 94, 0.477);
            transition: 1s;
            &:hover{
                transform: scale(1.1);
                object-fit: cover;
                -webkit-box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
            -moz-box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
            box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
            }
                }
    
            img{
            width: 100%;
            height: 270px;
            border-radius: 11px;
            }
            h3{
            background-color: nth($colores, 4);
            color: $color-principal;
            padding: 10px 0 10px 0;
            margin: 15px 0 15px 0;
            font-family: 'Poltawski Nowy', serif;;
            font-size: 20px;
            text-align: center;
            }
            a{
            background-color: nth($colores, 4);
            color: $color-principal;
            padding: 5px;
            margin: 15px;
            font-family: 'Poltawski Nowy', serif;
            text-decoration: none;
            list-style: none;
            transition: 0.5s;
            &:hover{
            color: rgb(240, 233, 233);
            background-color: rgb(47, 46, 46);
            border-radius: 5px;
                }
            }
        }
    }

}


@media screen and (max-width:570px){
    .accesorios{
        .imagen-accesorios{
            p{
                color: nth($colores, 3);
                background-color: $color-secundario;
                border:  nth($colores, 2);
                border-radius: 3px;
                padding: 1px;
                width: 100%;
                margin: auto;
                @include flex (flex, center, center);
                font-size: nth($font-size, 4);
                text-align: center;
                font-family: 'Poltawski Nowy', serif;
                }
            }
        

            .accesorios-tarjetas{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    padding: 0;
                    div{   
                        border: 2px solid black;
                    width: 290px;
                    height: 400px;
                    text-align: center;
                    margin: 18px;
                    box-sizing: 1px;
                    border-radius: 15px;
                    object-fit: cover;
                    -webkit-box-shadow: 6px -6px 14px 1px rgba(98, 94, 94, 0.477);
                -moz-box-shadow: 6px -6px 14px 1px rgba(98, 94, 94, 0.477);
                box-shadow: 6px -6px 14px 1px rgba(98, 94, 94, 0.477);
                transition: 1s;
                &:hover{
                    transform: scale(1.1);
                    object-fit: cover;
                    -webkit-box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
                -moz-box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
                box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
                }
                    }
        
                img{
                width: 100%;
                height: 270px;
                border-radius: 11px;
                }
                h3{
                background-color: nth($colores, 4);
                color: $color-principal;
                padding: 10px 0 10px 0;
                margin: 15px 0 15px 0;
                font-family: 'Poltawski Nowy', serif;;
                font-size: 20px;
                text-align: center;
                }
                a{
                background-color: nth($colores, 4);
                color: $color-principal;
                padding: 5px;
                margin: 15px;
                font-family: 'Poltawski Nowy', serif;
                text-decoration: none;
                list-style: none;
                transition: 0.5s;
                &:hover{
                color: rgb(240, 233, 233);
                background-color: rgb(47, 46, 46);
                border-radius: 5px;
                    }
                }
            }
        }
    


    }

    @media screen and (max-width:490px){

        .accesorios{
                h2{
                    color: nth($colores, 3);
                    background-color: $color-secundario;
                    border:  nth($colores, 2);
                    border-radius: 5px;
                    padding: 3px;
                    width: 309px;
                    margin: auto;
                    @include flex (flex, center, center);
                    font-size: nth($font-size, 3);
                    text-align: center;
                    font-family: 'Poltawski Nowy', serif;
                }
            
    }
}

@media screen and (max-width:320px){

    .accesorios{
        .imagen-accesorios{
            p{
                color: nth($colores, 3);
                background-color: $color-secundario;
                border:  nth($colores, 2);
                border-radius: 3px;
                padding: 0;
                width: 100%;
                margin: auto;
                @include flex (flex, center, center);
                font-size: nth($font-size, 9);
                text-align: center;
                font-family: 'Poltawski Nowy', serif;
            }
        }

        .accesorios-tarjetas{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding: 0;
            div{   
                border: 2px solid black;
            width: 290px;
            height: 400px;
            text-align: center;
            margin: 18px;
            box-sizing: 1px;
            border-radius: 15px;
            object-fit: cover;
            -webkit-box-shadow: 6px -6px 14px 1px rgba(98, 94, 94, 0.477);
        -moz-box-shadow: 6px -6px 14px 1px rgba(98, 94, 94, 0.477);
        box-shadow: 6px -6px 14px 1px rgba(98, 94, 94, 0.477);
        transition: 1s;
        &:hover{
            transform: scale(1.1);
            object-fit: cover;
            -webkit-box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
        -moz-box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
        box-shadow: 6px -6px 14px 1px rgba(0,0,0,0.72);
        }
            }

        img{
        width: 100%;
        height: 270px;
        border-radius: 11px;
        }
        h3{
        background-color: nth($colores, 4);
        color: $color-principal;
        padding: 10px 0 10px 0;
        margin: 15px 0 15px 0;
        font-family: 'Poltawski Nowy', serif;;
        font-size: 20px;
        text-align: center;
        }
        a{
        background-color: nth($colores, 4);
        color: $color-principal;
        padding: 5px;
        margin: 15px;
        font-family: 'Poltawski Nowy', serif;
        text-decoration: none;
        list-style: none;
        transition: 0.5s;
        &:hover{
        color: rgb(240, 233, 233);
        background-color: rgb(47, 46, 46);
        border-radius: 5px;
                }
            }
        }
    }
}

    /*---indumentaria---*/
    @media screen and (max-width:420px){
        .indumentaria{
        h2{
            display: flex;
            justify-content: center;
            font-size: 18px;
            padding: 3px;
            width: 300px;
            margin: auto;
            text-align: center;
            font-family: 'Poltawski Nowy', serif;
        }
    }

    /*---Ofertas---*/
    .ofertas{
        h2{
            display: flex;
            justify-content: center;
            font-size: 18px;
            padding: 3px;
            width: 300px;
            margin: auto;
            text-align: center;
            font-family: 'Poltawski Nowy', serif;
            }
        }
    }
    

    




