//* VARIABLE
$color-principal: rgb(193, 193, 193);
$color-secundario: rgba(0,0,0,0.6);

//* LISTAS
$colores:
black,
rgba(0,0,0,0.1),
#e2ecec,
rgba(0, 0, 0, 0.545),
rgb(40, 39, 50),
white;

$font-size:
12px,
16px,
20px,
25px,
30px,
35px,
40px,
50px,
19px;
//* EXTENDS

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}

//* MIXINS

@mixin flex ($flex, $justify, $align,){
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}